/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-coy&languages=haskell */
/**
 * prism.js Coy theme for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/tshedor/workshop-wp-theme (Example: http://workshop.kansan.com/category/sessions/basics or http://workshop.timshedor.com/category/sessions/basics);
 * @author Tim  Shedor
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 1em;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.3;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	position: relative;
	margin: .5em 0;
	overflow: visible;
	padding: 0;
}
pre[class*="language-"]>code {
	position: relative;
}
code[class*="language"] {
	max-height: inherit;
	height: inherit;
	padding: 0 1em;
	display: block;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	position: relative;
	padding: 0;
	xborder-radius: 0.3em;
	xcolor: #c92c2c;
	xborder: 1px solid rgba(0, 0, 0, 0.1);
	display: inline;
	white-space: normal;
}

/* Helium-specific classes */
.token.comment,
.token.block-comment
{
color: #abb0b6;
font-style:italic;
}

.token.punctuation
{
color: #5F6364;
}

.token.keyword
{
color: #55b4d4;
font-weight:bold;
}

.token.builtin
{
color: #86b300;
}

/* highlighted names in let definitions */
.token.let-fun-name
{
color:#f07171;
font-weight:bold;
}

/* types and constructors */
.token.constant
{
color: #f2ae49;
}

/* literals */
.token.number,
.token.char,
.token.string
{
color: #55c484;
}

.token.unitVal
{
color: #f2ae49;
}

.token.qualid
{
color:#35a464;
}

.token.instance_var
{
color: #d34010;
border:1px solid #ddd;
border-radius:5px;
padding:0px 2px;
}

.token.operator,
.token.punctuation
{
color: #a67f59;
}

/* Plugin styles */
.token.tab:not(:empty):before,
.token.cr:before,
.token.lf:before {
	color: #e0d7d1;
}

/* Plugin styles: Line Numbers */
pre[class*="language-"].line-numbers.line-numbers {
	padding-left: 0;
}

pre[class*="language-"].line-numbers.line-numbers code {
	padding-left: 3.8em;
}

pre[class*="language-"].line-numbers.line-numbers .line-numbers-rows {
	left: 0;
}

/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 0;
}
pre[data-line] code {
	position: relative;
	padding-left: 4em;
}
pre .line-highlight {
	margin-top: 0;
}

